<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Items</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/styles.css}">

<div class="button-container">
    <a class="button" th:href="@{/}">Home</a>
    <a class="button" th:href="@{/chefs}">Chefs</a><br>
    <a class="button" th:href="@{/restaurants}">Restaurants</a><br>
    <a class="button" th:href="@{/menuItems}">Menu Items</a>
</div>

<h1>MenuItems</h1>

<ul class="list">
    <li th:each="menuItem : ${menuItems}">
        <span th:text="${menuItem.name + ' - ' + menuItem.price + ' - ' + menuItem.restaurant.name}"></span>
            <a th:href="@{'/menuItems/edit/' + ${menuItem.id}}">Edit</a> |
            <a th:href="@{'/menuItems/delete/' + ${menuItem.id}}"
               onclick="return confirm('Are you sure you want to delete this menu item?');">Delete</a>
    </li>
</ul>

<h2>Add New Menu Item</h2>
<form th:action="@{/menuItems/add}" th:object="${menuItem}" method="post">
    <input type="hidden" th:field="*{id}" />

    Name: <input type="text" th:field="*{name}" placeholder="Restaurant Name" required />
    Price: <input type="text" th:field="*{price}" placeholder="Price" required />
    <select th:field="*{restaurant.id}">
        <option value="">Select Restaurant</option>
        <option th:each="r : ${restaurants}"
                th:value="${r.id}"
                th:text="${r.name}">
        </option>
    </select>
    <button type="submit">Add Restaurant</button>
</form>


</body>
</html>